---
// Pass the slug dynamically from Astro.params:
const { slug } = Astro.props;
---

<div
  data-open-remark
  data-site-key="cmpc63kgf000g04juowy74yfz"
  data-slug={slug}
>
</div>

<script is:inline>
  function loadZeonComments() {
    // prevent duplicate scripts
    const oldScript = document.querySelector(
      "script[data-open-remark-script]",
    );

    if (oldScript) oldScript.remove();

    const script = document.createElement("script");
    script.src = "https://open-remark.vercel.app/embed.js";
    script.async = true;
    script.setAttribute("data-open-remark-script", "true");

    document.body.appendChild(script);
  }

  // first load
  loadZeonComments();

  // astro page transitions
  document.addEventListener("astro:page-load", loadZeonComments);
</script>
